# Бинарники (чтобы не пушить скомпилированные файлы)
**.exe
**.exe~
**.dll
**.so
**.dylib
# Файлы тестов и покрытия
**.test
**.out
# Игнорируем папки IDE (если пользуешься VS Code или Goland)
**.vscode/
**.idea/